<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <file>src/Listener/Attribute/Listener.php</file>
        </exclude>
    </coverage>

    <testsuites>
        <testsuite name="EventSourcing Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
